@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  background-color: #24252A;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  color: #d40838;
}

li, .unit1, .unit2, .unit3, .unit4, .unit5, .unit6, .unit7, .unit8, .unit9, .unit10 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav__links {
  list-style: none;
  padding-right: 100px;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #87040d;
}